body{
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0 10px;
  background-color: #ffffff;

}

a{
  text-decoration: none;
}

.modal-close{
  padding: 0;
  border: none;
}

.modal-close::before{
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  background: url("../img/modal-close.svg") no-repeat 0 0;
  cursor: pointer;
}

.button-show{
  margin: 0;
  margin-left: 32px;
  margin-top: 75px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #000000;
  padding: 13px 37px 12px 37px;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}

.go-buy[type="button"]{
  margin: 0;
  margin-left: 20px;
  font-style: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  color: #000000;
  background-color: #ffffff;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.commentary-form{
  padding: 0;
  display: flex;
  border: none;
  border-top: 5px solid red;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.user-info{
  position: relative;
  padding: 40px 80px 22px 80px;
}

.feedback-form{
  width: 620px;
}

.feedback-form label{
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  display: block;
}

.feedback-form input{
  border: 2px solid #dee3e4;
  padding-left: 16px;
  width: 200px;
  height: 32px;
  border-radius: 5px;
  outline: none;
}

.commentary-form input:hover{
  border: solid 2px #b5b5b5;
}

.commentary-form input:focus{
 border: solid 2px #ee3643;
}

.feedback-form legend{
  display: none;
}

.half-width{
  display: inline-block;
  vertical-align: middle;
}

.half-width:first-child{
  margin-right: 16px;
}

.comment-area{
  outline: none;
  padding: 0 80px 36.8px 80px;
}

.comment-area textarea{
  width: 440px;
  height: 99px;
  padding: 0;
  padding-left: 16px;
  padding-top: 13px;
  resize: none;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

input[type="button"]{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    width: 460px;
    height: 38px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #ee3643;
    margin-top: 74px;
}

.send-button{
  padding: 0;
  display: block;
  padding: 36.8px 80px;
  background-color: #f1f1f1;
}

.feedback-form__button{
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 32px;
  width: 460px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.top-bar{
  display: flex;
  height: 42px;
}

.button{
  text-transform: none;
  color: #ffffff;
}

.bookmark-link{
  padding: 14px 28px 13px 44px;
  position: relative;
}

.bookmark-link:active{
  color: rgba(255, 255, 255, 0.6);
}

.bookmark-link::before{
  content: "";
  position: absolute;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat:no-repeat;
  opacity: 0.3;
}

.bookmark-link:hover:before{
  opacity: 1;
}

.bookmark-link:active:before{
  opacity: 0.3;
}

.cart-link{
  width: 69px;
  padding: 14px 31px 13px 50px;
  position: relative;
}

.cart-link:active{
  color: rgba(255, 255, 255, 0.6);
}

.cart-link::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.cart-link:hover::before{
  opacity: 1;
}

.cart-link:active:before{
  opacity: 0.3;
}

.order-link{
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 22px;
  background-color: #63a63e;
}

.cart-link:hover,
.bookmark-link:hover{
  background-color: #212a3a;
}

.cart-link:active,
.bookmark-link:active{
  background-color: #161d29;

}

.order-link:hover{
  background-color: #5fbb2d;
}

.order-link:active{
  background-color: #518534;
}

.user-block{
  margin-left: auto;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  list-style: none;
}

.login-button,
.registration-button{
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.login-button::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  left: 14px;
  background: url("../img/icon-login.svg") no-repeat 0 0;
}

.login-button{
  height: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
}

.registration-button{
  height: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-button:hover,
.registration-button:hover{
  color: #ee3643;
}

.login-button:active,
.registration-button:active{
  color: rgba(0, 0, 0, 0.3);
}

.catalog-user-block{
  margin: 0;
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
  display: flex;
  padding: 14px 69px 11px 47px;
}

.catalog-user-block a{
  color: #000000;
  text-decoration: none;
}

.catalog-user-block a:active{
  opacity: 0.3;
}

.catalog-user-block::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  left: 14px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.catalog-user-block:hover::before{
  background: url("../img/icon-user-black.svg") no-repeat 0 0;
}

.catalog-user-block:active::before{
  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.catalog-user-block::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  right: 10px;
  background: url("../img/icon-logout.svg") no-repeat 0 0;
}

.catalog-user-block:hover::after{
  background: url("../img/icon-logout-black.svg") no-repeat 0 0;
}

.catalog-user-block:active::after{
  background: url("../img/icon-logout.svg") no-repeat 0 0;
}

.when-login{
  margin-left: auto;
}

.under-login{
  position: relative;
  text-transform: none;
  padding-top: 10px;
  padding-left: 17px;
}

.my-orders{
  text-decoration: underline;
  color: #32425c;
  margin-right: 28px;
}

.my-orders:hover{
  color: #ee3643;
}

.my-orders:active {
  color: rgba(50, 66, 92, 0.3);
}

.my-account{
  padding: 0;
  text-decoration: underline;
  color: #32425c;
}

.my-account:hover {
  color:#ee3643;
}

.my-account:active {
  color: rgba(50, 66, 92, 0.3);
}

.under-login::before{
  content: "\263A";
  position: absolute;
  left: 100px;
  color: #000000;
}

.visually-hidden{
  display: none;
}

.top-bar__main-logo{
  padding: 13px 56px 15px 55px;
  width: 109px;
  height: 19px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.top-bar__main-logo:hover{
  background-color: #ca2c37;
}

.top-bar__main-logo:active{
  background-color: #ba2732;
}

.top-bar__searching{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  border: none;
  background: url("../img/icon-search.svg") no-repeat 17px 50%;
  width: 274px;
  height: 42px;
  padding-left: 50px;
  background-color: #293449;
}

.top-bar__searching:hover{
  background-color: #212a3a;
  background-image: url("../img/icon-search-white.svg");
}

.top-bar__searching:focus{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
}

.top-bar__searching::-ms-input-placeholder{
  color: #ffffff;
}

.top-bar__searching:-ms-input-placeholder{
  color: #ffffff;
}

.top-bar__searching::-webkit-input-placeholder{
  color: #ffffff;
}

.bottom-bar{
  padding-top: 49px;
  padding-bottom: 44px;
  display: flex;
  align-items: center;
}

.bottom-bar__description{
  margin: 0;
  display: block;
  padding-left: 50px;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  width: 196px;
  color: #ee3643;
}

.bottom-info{
  display: block;
  margin-left: 71px;
  width: 270px;
  text-transform: none;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: center;
  color: #e9292a;
}

.bottom-bar__phone{
  text-decoration: none;
  color: #ee3643;
  position: relative;
  display: block;
  border: 3px solid #ffffff;
  padding: 13px 42px 11px 74px;
}

.bottom-bar__phone::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 15px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.address{
  display: block;
  margin: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.main__nav{
  margin: 0;
  list-style: none;
  padding: 0 25px;
  box-shadow: inset 0px -5px 0 0 #293449;
  font-size: 17px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  background-color: #32425c;
  color: #ffffff;
}

.nav__link a{
  padding: 22px 30px 20px;
  list-style: none;
  text-transform: none;
  display: block;
}

.nav__link a{
}

.main__nav a{
  color: #ffffff;
}
.main__nav a:hover{
  background-color: #293449;
}

.main__nav a:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.bottom-about{
  display: flex;
  margin-top: 82px;
  margin-bottom: 86px;
}

.delivery-title{
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.middle-container{
  margin-bottom: 40px;
}

.transport-company-names{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-style: "Cuprum", Arial, sans-serif;
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  color: #000000;
}

.delivery-text-second{
  margin: 0;
}

.delivery-text,
.delivery-text-second,
.how-to-find{
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  text-transform: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-text-second{
  margin-bottom: 1px;
}

.contacts{
  margin-left: auto;
}

.more-info,
.lost{
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
}

.lost{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 12px;
  text-align: center;
  padding: 14px 59px 12px 63px;
}

.more-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 12px;
  text-align: center;
  padding: 14px 39px 12px 40px;
}

.footer-top{
  display: flex;
  background-color: #32425c;
}

.bottom-main-logo{
  text-align: center;
  padding: 20px 41px 25px 41px;
  width: 138px;
  height: 23px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.bottom-main-logo:hover{
  background-color: #ca2c37;
}

.bottom-main-logo:active{
  background-color: #ba2732;
}

.bottom-main-nav{
  align-items: flex-end;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  list-style: none;
}

.bottom-secondary-nav{
  display: flex;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.bottom-nav-title{
  margin-left: 60px;
}

.bottom-main-nav a:active{
  color: rgba(241, 245, 247, 0.5);
}

.bottom-secondary-nav a:active{
  color: rgba(255, 209, 128, 0.5);
}

.footer-top-up{
  display: flex;
  flex-direction: column;
  height: 193px;
}

.bottom-contacts{
  margin: 0;
}

.footer-middle{
  display: flex;
  margin-top: 32px;
  padding-bottom: 53px;
}

.bottom-main-nav a{
    color: #f1f5f7;
}

.bottom-secondary-nav{
  display: flex;

}

.bottom-secondary-nav a{
  color: #ffd180;
}

.bottom-contacts{
  text-transform: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.copyrights{
  display: flex;
  margin: 0;
  margin-right: 153px;
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.button-vk,
.button-fb,
.button-inst{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 3px;
  background-color: #212a3a;
}

.button-vk:hover,
.button-fb:hover,
.button-inst:hover{
  background-color: #ee3643;
}

.dev-button{
  text-transform: none;
  color: #ffffff;
  margin: 0;
}

.mail{
  margin-left: 130px;
}

.mail-link:hover,
.site-link:hover{
  color: #ee3643;
}

.dev{
  margin-left: 53px;
}

.dev-button a{
  color: #ffd180;
}

.footer-top-wrapper{
  background-color: #32425c;
}

.footer-bottom{
  display: flex;
  height: 72px;
  padding-top: 32px;
}

.footer-bottom-wrapper{
  background-color: #293449;
}

/* catalog.css*/

.catalog{
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #000000;
  list-style: none;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
}

.breadcrumbs li{
  color: #000000;
  position: relative;
  margin-left: 25px;
}

.breadcrumbs-item-home::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top:2px;
  right: 10px;
  background: url("../img/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs-list::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 2px;
  left: -18px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs-item-current{
  margin-left: 43px;
}

.breadcrumbs-item-current::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 2px;
  left: -18px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs-item{
  color: #000000;
  background-color: #ffffff;
}

.page-title{
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 32px 742px 34px 30px;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-container{
  display: flex;
}

.filters{
  display: flex;
  width: 220px;
}

.catalog-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}



.flag{
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.new-flag {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.hidden-price{
  visibility: hidden;
}

.action{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-list-item:hover .action{
  display: block;
}

.catalog-list-item:hover{
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.button__bookmark{
  display: block;
  width: 122px;
  font-family: "Cuprum", Arial sans-serif;
  text-transform: uppercase;
  border: solid 3px #63a63e;
  font-size: 14px;
  padding: 7px 0;
  margin: 0 auto;
  line-height: 18px;
  color: #32425c;
}

.button__bookmark:hover{
  color: #32425c;
  border: solid 3px #32425c;
}

.button__bookmark:active{
  opacity: 0.3;
}

.button__buy{
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 10px 0;
  background-color: #63a63e;
  border-radius:3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  color: white;
  font-size: 14px;
  font-family: "Cuprum", Arial sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.button__buy:hover{
  background-color: #5fbb2d;
}

.button__buy:active{
  background-color: #518534;
}

.catalog-list-item-name{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

.old-price{
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}


.price-red{
  position: relative;
  width: 80px;
  height: 20px;
  padding: 10px 30px;
  margin: 13px auto;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.price-red:after{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.manufaturer{
  position: relative;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.manufaturer legend,
.power-type legend{
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.manufaturer label,
.power-type label{
  margin-bottom: 17px;
  display: block;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 35px;
}

.manufaturer[type="checkbox"]{
  margin: 0;
}

.item-manufacturer__brand + label::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -3px;
  left: 0px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}
.item-manufacturer__brand:checked + label::after{
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: -3px;
  left: 0px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.item-power__type + label::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: 0px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.item-power__type:checked + label::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: 0px;
  background: url("../img/radio-on.svg") no-repeat 0 0;
}


.power-type{
  display: flex;
  flex-direction: column;
}

.item-manufacturer,
.item-power{
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
}

.filters fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-list-item{
  display: flex;
  flex-direction: column;
  text-transform: none;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  border: solid 1px #e5e5e5;
  overflow: hidden;
  width: 218px;
}

.top-bar-wrapper{
  background-color: #293449;
}

.bottom-bar-wrapper{
  background-color: #f4f7f9;
  height: 278px;
}

.company-title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  padding-left: 35px;
}

.company-title::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #ee3643;
}

.map{
  display: block;
  position: relative;
  height: 158px;
  margin-bottom: 40px;
}

.footer-social{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
}

.footer-social li{
  position: relative;
}

.button-vk::after{
  content: "";
  position: absolute;
  left: 8px;
  top: 15px;
  width: 26px;
  height: 18px;
  background: url("../img/icon-vk.svg") no-repeat 0 0;
}



.button-fb::after{
  content: "";
  position: absolute;
  left: 14px;
  top: 11px;
  width: 12px;
  height: 22px;
  background: url("../img/icon-fb.svg") no-repeat 0 0;
}

.button-inst::after{
  content: "";
  position: absolute;
  left: 11px;
  top: 11px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-insta.svg") no-repeat 0 0;
}


.modal-map{
  display: none;
  position: fixed;
  z-index: 1000;
  top: 25px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
}

.added-to-cart{
  display: block;
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 5px solid #ee3643;
}

.item-added{
  position: relative;
  height: 160px;
  background-color: #ffffff;
}

.item-added p{
  font-style: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: none;
  margin: 0;
  padding: 75px 125px 68px 179px;
}

.item-added p::before{
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 81px;
  top: 55px;
  background: url("../img/modal-check.svg") no-repeat 0 0;
}

.contninue{
  position: relative;
  height: 40px;
  background-color: #f1f1f1;
  padding: 37px 0 37px 80px;
}

.to-cart{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 11px 62px 11px 59px;
  border-radius: 3px;
}

.bottom-nav-title:hover{
  text-decoration: underline;
}

.main_promo{
  padding-top: 59px;
}

.block{
  position: relative;
  width: 277px;
  height: 75px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 22px;
  padding-left: 23px;
}

.block_title{
  padding: 0;
  margin: 0;
  color: #ffffff;
  margin-bottom: 15px;
  text-transform: none;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
}

.inside_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo_column_top,
.promo_column_bottom{
  display: flex;
}

.material_block{
  background-color: #ffbf47;
}

.material_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-1.svg") no-repeat 0 0;
  width: 44px;
  height: 66px;
  top: 31px;
  right: 43px;
}

.material_block .new-flag{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.tools_block{
  background-color: #3bbce3;
}

.tools_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-2.svg") no-repeat 0 0;
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
}

.techics_block{
  margin: 0;
  background-color: #dc91d8;
}

.techics_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-3.svg") no-repeat 0 0;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
}

.slider_block{
  position: relative;
  width: 620px;
  height: 218px;
  background: url("../img/slide-image-1.jpg") no-repeat 0 0;
  padding: 26px 20px 22px 25px;
}

.slider_block h3,
.slider_block p{
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.slider_block h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 8px;
}

.slider_block p{
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.slider_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-right.svg") no-repeat 0 0;
  width: 22px;
  height: 40px;
  top: 114px;
  right: 20px;
}

.slider_block::after{
  content: "";
  position: absolute;
  background: url("../img/icon-left.svg") no-repeat 0 0;
  width: 22px;
  height: 40px;
  top: 114px;
  left: 25px;
}

.catlog_open_button{
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
}

.promo_right_side{
  align-items: flex-end;
}

.sales_block{
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.sales_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-4.svg") no-repeat 0 0;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
}

.delivery_block{
  margin: 0;
  margin-left: 20px;
  background-color: #ffc047;
}

.delivery_block::before{
  content: "";
  position: absolute;
  background: url("../img/icon-5.svg") no-repeat 0 0;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
}

.main_popular_goods,
.main_popular_manufacturer{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f9f5f0;
  margin-top: 21px;
  height: 89px;
}

.main_popular_goods a,
.main_popular_manufacturer a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 253px;
  height: 10px;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 14px 0;
  margin-left: auto;
  margin-right: 24px;
}

.main_popular_goods h2,
.main_popular_manufacturer h2{
  padding-left: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  margin: 0;
}

.popular_goods_item{
  margin-top: 21px;
}

.promo_item{
  margin-right: 18px;
}

.promo_item:nth-child(4){
  margin-right: 0;
}

.popular_manufacturer_item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 85px;
}

.manufacturer_block{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-right: 17px;
}

.manufacturer_block:nth-child(4n){
  margin: 0;
  margin-top: 20px;
}

.manufacturer_block:hover{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer_block:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services_list{
  display: flex;
  align-items: center;
}

.main_services{
  display: flex;
  padding-top: 68px;
  background-color: #f4f7f9;
}

.about_services_title{
  width: 398px;
}

.main_services_title,
.main_services_text{
  padding: 0;
  margin: 0;
}

.about_services{
  display: flex;
  flex-direction: column;
}

.main_services_title{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 38px;
}

.main_services_text{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

.services_title{
  padding: 0;
  margin: 0;
  margin-top: 74px;
}

.tile{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-transform: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 23px;
  width: 215px;
  height: 61px;
  background-color: #32425c;
  border: 1px solid #293449;
}

.delivery:hover,
.waranty:hover,
.credit:hover{
  background-color: #ffffff;
  color: #32425c;
  border: none;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.services_description{
  margin: 0;
  padding: 0;
  margin-left: 80px;
  width: 290px;
}

.delivery_show_title{
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.delivery_show_descriptiion{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

.credit{

}

.delivery_show{
  display: block;
}

.waranty_show{
  display: none;
}

.credit_show{
  display: none;
}

.modal-show{
  display: block;
}
