/*  font-family: 'Cuprum', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
*/
body{
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: lightgray;
  text-transform: uppercase;
  /* font-family: "PT Sans Narrow", Arial, sans-serif; */
}

a{
  text-decoration: none;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.feedback-form{
  display: none;
}

.top-bar{
  display: flex;
  height: 42px;
}

.top-bar__searching{
  border: none;
  width: 270px;
  height: 40px;
  text-align: left;
  color: #ffffff;
}

.top-bar__searching::placeholder{
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  color:#ffffff;
}

.button{
  text-transform: none;
  padding: 14px 0 13px 0;
  line-height: 18px;
  color: #ffffff;
}

.bookmark-link{
  width: 78px;
  padding: 14px 28px 13px 44px;
}

.cart-link{
  width: 69px;
  padding: 14px 31px 13px 50px;
}

.order-link{
  width: 108px;
  background-color: #63a63e;
  padding: 14px 22px 13px 20px;
}

.cart-link:hover,
.bookmark-link:hover{
  background-color: #212a3a;
}

.cart-link:active,
.bookmark-link:active{
  background-color: #161d29;

}

.order-link:hover{
  background-color: #5fbb2d;
}

.user-block{
  margin-left: auto;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  list-style: none;
}

.login-button,
.registration-button{

  color: #000000;
  background-color: #ffffff;
}

.login-button{
  height: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
}

.registration-button{
  height: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-button:hover,
.registration-button:hover{
  color: #ee3643;
}

.login-button:active,
.registration-button:active{
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden{
  display: none;
}

.top-bar__main-logo{
  padding: 13px 56px 15px 55px;
  width: 109px;
  height: 19px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.top-bar__main-logo:hover{
  background-color: #ca2c37;
}

.top-bar__main-logo:active{
  background-color: #ba2732;
}

.top-bar__searching{
  background-color: #293449;
}

.main__nav{
  box-shadow: inset 0px -5px 0 0 #293449;
  font-size: 17px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #32425c;
  color: #ffffff;
}

.bottom-bar{
  padding-top: 49px;
  padding-bottom: 44px;
  display: flex;
  align-items: center;
}

.bottom-bar__description{
  margin: 0;
  display: block;
  padding-left: 50px;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  width: 196px;
  color: #ee3643;
}

.bottom-bar__address{
  margin-left: 71px;
  width: 270px;
  text-transform: none;
  font-size: 21px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: center;
  color: #e9292a;
}

.address{
  margin: 0;
  display: block;
  text-transform: none;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.nav__link{
  text-transform: none;
  padding: 22px 30px 26px 30px;
}

.main__nav a{
  color: #ffffff;
}
.main__nav a:hover{
  background-color: #293449;
}

.main__nav a:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.bottom-about h2{
    margin:0  0 38px 0;
  text-transform: uppercase;
  padding-top: 82px;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

}

.bottom-about__company-label{
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.middle-cantainer{
  margin-bottom: 40px;
}

.bottom-about__delivery,
.how-to-find{
  display: flex;
  flex-direction: column;
  text-transform: none;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.delivery-text,
.how-to-find{
  margin:0;
  margin-bottom: 36px;
}

.delivery-text-second{
  margin: 0;
}


.bottom-about__contacts{
  display: flex;
  flex-direction: column;
  margin-left: 122px;
}

.bottom-about__transport-company-names,
.bottom-about__contacts{
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: auto;
}
.bottom-about__transport-company-names {
  margin: 0;
  padding: 0;
}
.bottom-about{
  display: flex;
  padding-bottom: 86px;
}
.more-info,
.lost{
    margin: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
}

.lost{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 12px;
  text-align: center;
  padding: 14px 59px 12px 63px;
}

.more-info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 140px;
  height: 12px;
  text-align: center;
  padding: 14px 39px 12px 40px;
}

.footer-top{
  display: flex;
  background-color: #32425c;
}

.bottom-main-logo{
  text-align: center;
  padding: 20px 41px 25px 41px;
  width: 138px;
  height: 23px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.bottom-main-nav{
  align-items: flex-end;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  list-style: none;
}

.bottom-secondary-nav{
  display: flex;
  text-transform: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.bottom-nav-title{
  vertical-align: top
  text-transform: none;
  margin-left: 60px;
}

.footer-top-up{
  display: flex;
  flex-direction: column;
  height: 193px;
}

.bottom-contacts{
  margin: 0;
}

.footer-middle{
  display: flex;

  margin-top: 32px;
  padding-bottom: 53px;
}

.bottom-main-nav a{
    color: #f1f5f7;
}

.bottom-secondary-nav{
  display: flex;

}

.bottom-secondary-nav a{
  color: #ffd180;
}

.bottom-contacts{
  text-transform: none;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}

.copyrights{
  display: flex;
  margin: 0;
  margin-right: 153px;
  text-transform: none;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-social{
  display: flex;
  list-style: none;
}

.footer-social{
  padding: 0;
}

.button-vk,
.button-fb,
.button-inst{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 3px;
}

.dev-button{
  text-transform: none;
  color: #ffffff;
  margin: 0;
}

.mail{
  margin-left: 130px;
}

.dev{
  margin-left: 53px;
}

.dev-button a{
  color: #ffd180;
}

.footer-social{
  display: flex;
}

.footer-top-wrapper{
  background-color: #32425c;
}

.footer-bottom{
  display: flex;
  height: 72px;
  padding-top: 32px;
}

.footer-bottom-wrapper{
  background-color: #293449;
}



/* catalog.css*/

.breadcrumbs{
  color: black;
  list-style: none;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}

.breadcrumbs-item{
  color: black;
  background-color: #ffffff;
}

.catalog-container{
  background-color: #ffffff;
}

.catalog-container h2{
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
}

.item-manufacturer,
.item-power{
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: gray;
}

.filters fieldset{
  border: none;
}

.filters legend{
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.catalog-list-item{
  list-style: none;
  text-transform: none;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

.button__buy{
  text-transform: uppercase;
  background-color: #63a63e;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button__bookmark{
  text-transform: uppercase;
  border: solid 3px #63a63e;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

.added{
  display: none;
}

.top-bar-wrapper{
  background-color: #293449;
}

.bottom-bar-wrapper{
  background-color: #f4f7f9;
}

.main__container__wrapper{
  background-color: #ffffff;
}

.company-title {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.map{
  width: 270px;
  height: 158px;
  margin-bottom: 74px;
}
